<!DOCTYPE html>

<!-- Important! the include to jquery has to come before the include to bootstrap, which i guess makes some sense... -->

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% load static %}


<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "OrderVan/css/utils.css" %}" rel="stylesheet"/>

</head>

<body>

<div class="container theme-showcase" role="main">

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target=".navbar-collapse">

                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--a href="#" class="navbar-left"><img src="/static/OrderVan/images/Civan-Logo.png"></a-->
                <a class="navbar-brand" href="{% url 'OrderVan:index' %}">OrderVan</a>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{% url 'OrderVan:order_results' %}">Orders List</a></li>
                    <li><a href="{% url 'OrderVan:new_order' %}">New Order</a></li>
                    <!--li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Filters
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="dropdown-header">Order By</li>
                            <li><a href="{% url 'OrderVan:order_results' %}?orderby=Committed">Waiting for manager</a></li>
                            <li><a href="#">Waiting for confirmation</a></li>
                            <li><a href="#">Done</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Filter By General Status</li>
                            <li><a href="#">Committed</a></li>
                            <li><a href="#">Awaiting payment</a></li>
                        </ul>
                    </li-->
                </ul>

                {% if request.user.is_authenticated %}
                <!-- Copied from http://bootsnipp.com/snippets/402bK -->
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-user"></span> 
                            <strong>Welcome {{ request.user }}!</strong>
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'logout' %}">Logout</a></li>
                        </ul>
                    </li>
                </ul>
                {% endif %}

            </div>

        </div>
    </nav>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</div>

</body>
</html>
