{% extends "base.html" %}

{% block title %}OrderVan Home{% endblock %}


{% block content %}

<h1>{{ order.description }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'OrderVan:change_order_status' order.id %}" method="post">
{% csrf_token %}
{% for status in order.GENERAL_STATUSES %}
    <!-- name means the POST will have in it general_status=id -->
    <input type="radio" name="general_status" id="general_status{{ forloop.counter }}" value="{{ forloop.counter }}" />
    <label for="general_status{{ forloop.counter }}">{{ status }}</label><br />
{% endfor %}
<input type="submit" value="Submit Here!" />
</form>

{% endblock %}
