{% extends "base.html" %}

{% block title %}OrderVan Home{% endblock %}


{% block content %}

    <div class="jumbotron">
        <h1>OrderVan</h1>
        <p>Civan Order Management Site.</p>
    </div>

{% endblock %}
