{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %} New Order {% endblock %}


{% block content %}

<form action="{% url 'OrderVan:new_order' %}" method="post" class="form" enctype="multipart/form-data" >
  {% csrf_token %}
  {% bootstrap_form form %}
  {% buttons %}
    <button type="submit" class="btn btn-primary">
      {% bootstrap_icon "star" %} Submit
    </button>
  {% endbuttons %}
</form>

<!--
<form enctype="multipart/form-data" action="{% url 'OrderVan:new_order' %}" method="post">
    {% csrf_token %}
    {% bootstrap_form form layout='inline' %}
    <input type="submit" value="save" />
</form>
-->
{% endblock %}

