{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %} Order Details {% endblock %}


{% block content %}

<form action="" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <input type="submit" value="Update" />
</form>

<!--div>{{ order }}</div>
<div>{{ order.general_status }}</div>
<div><a href="{% url 'OrderVan:change_order_status' order.id %}">Change General Status</a></div-->

{% endblock %}

