{% extends "base.html" %}
{% load bootstrap3 %}


{% block title %} Order Results {% endblock %}


{% block content %}

<form action="{% url 'OrderVan:order_results' %}" method="get" class="form-vertical" enctype="multipart/form-data" >

    <!-- Can't use normal bootstrap_form tag like in new_order because i want the fields vertical, see issue on github at: https://github.com/dyve/django-bootstrap3/issues/296-->
    <div class="row">
        <div class="col-md-4">
          {%  bootstrap_field form.filter_by_status %}
        </div>
        <div class="col-md-4">
          {%  bootstrap_field form.orderby %}
        </div>
        <div class="col-md-4" style="">
          {% buttons %}
            <!-- top margin is ugly patch so button will be inline with boxes and not with label. -->
            <button type="submit" class="btn btn-primary" style="margin-top:25px">
                {% bootstrap_icon "star" %} Filter
            </button>
          {% endbuttons %}
        </div>
    </div>

</form>

{% if latest_orders %}

	<div class="row">
	  <div class="col-md-12">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Order Maker</th>
                <th>Title</th>
                <th>Price</th>
                <th>Manager</th>
                <th>Status</th>
                <th>Details</th>
              </tr>
            </thead>
            <tbody>
            {% for order in latest_orders %}
                  <tr>
                    <td>{{ order.id }}</td>
                    <td>{{ order.created_by }}</td>
                    <td>{{ order.title }}</td>
                    <td>{{ order.price }} {{ order.currency }}</td>
                    <td>{{ order.manager }}</td>
                    <td>{{ order.get_general_status_display }}</td>
                    <td><a href="{% url 'OrderVan:order_details' order.id %}">details</a></td>
                  </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
	</div>


{% else %}
    <p>No orders are available.</p>
{% endif %}

<!-- copied from https://simpleisbetterthancomplex.com/tutorial/2016/08/03/how-to-paginate-with-django.html -->
{% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}

{% endblock %}


